<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="ChapeauDatabase"
        connectionString="
		Server=chapeaugroup1.database.windows.net;
        user id=testadmin;
        password=W3lcomE123!;
        Initial Catalog=ChapeauGroup1;
        persistsecurityinfo=True;"/>
    </connectionStrings>
</configuration>